{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":1,"column":0},"end":{"row":1,"column":13},"action":"insert","lines":["npm-debug.log"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":5},"end":{"row":0,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1421042908993,"hash":"804c8b96d5877a72a11a615378a401fd54465da6"}